.imgs{
    position: relative;
}

.add_to_cart_container{
    text-align: end;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    font-size: 1.6rem;
    z-index: 10;

    & > *{
        cursor: pointer;
    } 
}